#tpsPageContainer
{
	width: 800px;
	margin: 0 auto;
	background-color: cornsilk;
	color: navy;
	padding: 1em;
	border: 1px solid lightgray;
	border-radius: 10px;
	font-size: 1.1em;
	font-family: Verdana, sans-serif;
}

#outputDiv p
{
	font-size: 1.5em;
	margin-top: 3em;
}

#ratingSelect
{
	font-size: 1em;
	font-family: Verdana, sans-serif;
}
